/* Navbar.css */
.navbar {
  margin-bottom: 0;
  
  padding: 10px 30px 10px 15px;
  width: 99%;
  z-index: 1050;
  background: #1a177c; /* Light gray background */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem;
}


.navbar.navbar-absolute {
  position: absolute;
  z-index: 1050;
}  /* very important for the position */

@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
      flex-wrap: nowrap;
  }
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar > .navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.container-fluid {
  width: 99%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
  }
}

.collapse:not(.show) {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
      background: none !important;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }
}

.ml-auto {
  margin-left: auto !important;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.nav-link:hover {
  color: #007bff;
  background-color: #f8f9fa;
}

.navbar-nav li:first-child {
  margin-left: 0; /* Remove left margin for the first item */
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #f8f9fa; /* Light text color (good for dark backgrounds) */
  font-weight: 600; /* Slightly bolder */
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 8px; /* More rounded corners */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smoother transitions */
}


.nav-link:hover {
  background-color: #007bff; /* A prominent blue on hover */
  color: #fff; /* White text on hover */
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3); /* Subtle shadow on hover */
}
