/* Navbar.css */
.navbar {
  margin-bottom: 0;
  
  padding: 10px 30px 10px 15px;
  width: 100%;
  z-index: 1050;
  background: #1a1e34;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0.9375rem;
}

.navbar.navbar-transparent {
  background: transparent !important;
}

.navbar.navbar-absolute {
  position: absolute;
  z-index: 1050;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      flex-flow: row nowrap;
      justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
      flex-wrap: nowrap;
  }
}

.navbar > .container, .navbar > .container-fluid {
  display: flex
;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

.navbar-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: #ecf0f1;
}
}

@media (min-width: 992px) {
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
      flex-wrap: nowrap;
  }
}

.navbar > .container, .navbar > .container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
  }
}

.collapse:not(.show) {
  display: none;
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
      background: none !important;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      flex-direction: row;
  }
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.navbar-nav li {
  padding: 0 10px;
}

.input-group, .form-group {
  margin-bottom: 10px;
  position: relative;
}
